# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Builds
dist/
build/
coverage/

# Prisma generated
packages/database/generated/

# Aiven certificates
packages/database/certs/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db